﻿<h1 class="page-header">Guide Overview</h1>

          <div class="row" >
              <div class="col-xs-12 col-sm-12" style="text-align: justify;">
                <p>This Color Visualizer Application Branded as “Jasmine Paints - Color Choice” is to visualize the color spectra on walls of buildings and housings. This gives the initial but perfect visual effect to the walls with combination and options of millions of color. User can draw multiple shapes according to their need and requirements as well as spread color to the drawn shades with correction in brightness and contrast of the shade. They can use Sample Images as reference for quick colour visualization purpose. This User Guide describes the steps to visualize the color spectra on walls of buildings and housings. It provides the visualization of different colours to the walls necessary for a customer and service provider for analysis as well as to import colour data from a data source, and use that data to create and modify colours on walls.</p>
             <br/>   <p> <strong>CAUTION:</strong><br/> This documentation is intended for users who will be using the software <em>“Jasmine Paints - Color Choice”</em>. This software is inherently simple, and the sample images in application and usage guide in this documentation are not intended to be exhaustive or to apply to any particular situation. Users are cautioned to satisfy themselves as to the accuracy and results of colouring walls and shades.</p>

                <p><em>“Jasmine Paints - Color Choice”</em> software shall not be responsible for the accuracy of colour using the <em>“Jasmine Paints - Color Choice”</em> software or the procedures, examples, or explanations in this documentation. This software shall not be responsible for the consequences of any errors or omissions that may appear in this documentation.</P>

                <p> <em>“Jasmine Paints - Color Choice”</em> software is available only under license from Jasmine Paints Pvt. Ltd.</p>

               <br/><br/><br/> <p>© Jasmine Paints Pvt. Ltd., 2017</p>

                 
              
            </div>
       
          </div>