.root{
    -fx-font-family: "System";
}

.background {
    -fx-background-color:rgb(52,52,52);
}
/*Menu Bar*/
.menu-bar{
    -fx-background-color: rgb(52,52,52);

}

.menu-bar .label {
    -fx-font-size: 14px;
    -fx-font-family: "System";
    -fx-text-fill: white;
}


.menu:hover {
    -fx-background-color: rgb(0,150,201);
}

.menu-item .label{
    -fx-font-size: 14px;
    -fx-label-line-length: 8;
    -fx-text-fill: white;
    /*-fx-background-color: #cc66ff;*/
}
/*end of menubar*/
.scrollpane{
    -fx-background-color:rgb(52,52,52);
}
.toggle-button:hover {
    -fx-background-color: rgb(0,150,201);
}
.toggle-button{
    -fx-background-color:rgb(52,52,52);
    -fx-color:white;
}
.toggle-button:selected{
    -fx-background-color: rgba(255,255,255,0.2);
}
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}
.button{
    -fx-background-color:rgb(52,52,52);
}
.button:pressed{
    -fx-background-color: rgba(255,255,255,0.5);
}
.button:hover{
    -fx-background-color: rgba(67,197,242,1);
}
.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

/*.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}*/

.chart-pie{
    -fx-base: transparent;
    -fx-background-insets:0;
}
.chart-pie-label {
    -fx-padding: 3px;
    -fx-text-base-color:transparent;
}
.chart-pie-label-line {
    -fx-stroke: transparent;
    -fx-fill: transparent;
}
.listview{
    -fx-background-color: rgb(52,52,52);
}
.separator {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.separator";*/

}
.separator .line {
    /*-fx-border-style: segments(0.166667em, 0.166667em);*/
    -fx-border-width:0.004333em;
    -fx-effect:dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.separator:horizontal .line {
    -fx-background-color: null;
    -fx-padding: 0.083333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
    /*-fx-border-color: derive(-fx-background,-20%) transparent transparent transparent;*/
    -fx-border-color: black;
}
.separator:vertical .line { 
    -fx-background-insets: 2, 8 4 8 4; /* as i know insets only apply to background not border */ 
    -fx-padding: 0.083333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
    -fx-border-color: black;
}

.titled-pane 
{
    /*-fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";*/    
    -fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused 
{
    -fx-text-fill: white;
    -fx-border-color:rgb(52,52,52);
    -fx-background-color:rgb(52,52,52);
    -fx-box-border:rgb(52,52,52);
}
.titled-pane > .title 
{
    -fx-box-border:rgb(52,52,52);
    -fx-background-color:rgb(100,100,100);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */

}

.titled-pane:focused > .title 
{
    -fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button 
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
    -fx-rotate: -90;
}

.titled-pane > *.content 
{
    -fx-background-color:rgb(52,52,52);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow 
{
    -fx-background-color: white;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color:rgb(52,52,52);
}

.tab-pane .tab:selected
{
    -fx-background-color: rgb(0,150,201);
    -fx-border-width:10px;
    -fx-border-radius:10px;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tree-view, .tree-cell {
    -fx-background-color:rgb(52,52,52);
    -fx-text-fill: white ;
}
.myDialog{
    -fx-background-color:rgb(52,52,52);
    -fx-text-fill: white;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: rgb(52,52,52);
    -fx-text-fill: white;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-text-fill: white;
}
.myDialog:header *.header-panel{
    -fx-background-color: rgb(52,52,52);
    -fx-text-fill: white;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-text-fill: white;
}
.myDialog {
    -fx-text-fill: white;
}
.myDialog>button{
    -fx-background-color:null;
}
.tree-cell {   
    -fx-padding: 0.8em 0em 0.8em 0.3em;
    -fx-text-fill:white;
    -fx-font: 14px "Segoe UI";
}
.tree-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border,white;
}
.tree-view .tree-cell:hover {
    -fx-background-color:rgb(30,30,30);
    -fx-border-width: 0 0 0 4; -fx-border-color: red blue green yellow;

}
.tree-view .tree-cell:filled:selected {
    -fx-background-color:rgb(30,30,30);
    -fx-border-width: 0 0 0 4; -fx-border-color: red blue green yellow;
}
.scroll-pane {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-control-inner-background:transparent;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}
.pane {
    -fx-background-color: transparent;
}
.grid{
    -fx-background-insets: 0;
    -fx-hgap: 5;
    -fx-vgap: 5;
}
.group{
    -fx-background-color:transparent;
}
.sampleImageButton{
    -fx-background-color:Yellow;
    -fx-border-width: 0 0 0 4; -fx-border-color: red blue green yellow;
}
.sampleImageButton:hover{

}

